/* CSS du site MemoDeck de la SAE3 */


/* STYLE GENEREAL */
/* S'assurer que le body et html n'ont pas de marges ni de padding */
html, body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    align-items: center;
    height: 100%;
    width: 100%;
}


/* Style pour les titres */
h1.centre, h2.centre {
    text-align: center;
}

h3.centre, p.centre {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 3px;
}


/* STYLE DIV CARTES */
/* Container pour la carte pour lui donner un espace dédié */
.containerGrilleJeu {
    display: flex;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    perspective: 1000px;    /* Pour effet 3D */
}


.containerLigne1 {
    height: 20%;
    width: 100%;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: center;   /* centrer les cartes */
    gap: 20px;
    /* Style pour le retournement de carte */
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    }


/* Afficher la carte */
.carte {
    height: 100%;
    width: 17%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

/* Style des cartes avant et arrière, en cache 1*/
.carteAvant, .carteArriere {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;    /* Cache la face non visible */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}


/* Style d'une seule carte*/
.carteAvant {
    background-color: #1f6545;
}

.carteArriere {  
    background-color: #f97600;
    transform: rotateY(180deg); /* Face arrière tournée */
}

/* Pour retourner la carte */
.carte.is-flipped {
    transform: rotateY(180deg);
}




/* STYLE CONTAINER REPONSE */
/* Pour alligner la zone de texte avec la carte et faire en sorte que les infos de cette div ne passe pas par dessus la carte*/
.containerReponse {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
    justify-content: center; 
    align-items: center;
}

/* Pour mettre tous les boutons sur la même ligne */
.ligneBoutons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; /* espace entre les deux boutons */
    width: 100%;
    margin-top: 10px;
}

/* Pour mettre a la ligne la zone de texte parce que les <br> ne marche pas */
.containerReponse input, .containerReponse #message{
    display: block;     /* Forcer à être des blocs */
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Pour l'esthetique*/
.containerReponse input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.containerReponse button, .containerPersonalisation button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f64b0c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.containerReponse button:hover,  .containerPersonalisation button:hover {
    background-color: #b33305;
}




/* STYLE CONTAINER PERSONNALISATION */
.containerPersonalisation {
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 100%;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

