
body{
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    background-color: #faf2f2;

    text-align: center;
    font-family : Verdana, Geneva, sans-serif;
    color: #3e3936;
}

.blocInfo{
    height: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 30px;
    padding: 20px;
    padding-top: 10px;

    background-color: #07b6ae;
    border-radius: 5px 60px;

    color: #f7f7f7;
}

.testLogo{
    text-align: center;
    font-size: 60px;
}

h2{
    margin: 0;
    margin-bottom: 20px;

    text-align: left;
    font-size: 60px;
}

h3{
    text-align: left;

    font-size: 30px;
}

p{
    text-align: justify;
}

.rouge{
    font-style: bold;
    color: #FF0000;
}
.jaune{
    font-style: bold;
    color: #FFFF00;
}
.vert{
    font-style: bold;
    color: #00FF00;
}

.imagesAcceuil{
    position: absolute;
    width: min(40%,500px);
    margin-left: 5%;
}
.moitieGauche{
    width: 50%;
}


.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-evenly;

    .card {
        display: inline-block;
        flex: 0 0 auto;
        width: auto;
        word-wrap: break-word;
        margin-right: 4%;
        font-size: 1.5vh;
        text-align: center;
    }
}

a{
    text-decoration: none;
}

.icon{
    margin:auto;
    height:10vh;
    width:10vh;
}