h1.centre, h2.centre, h3.centre, p.centre, select.centre{
    text-align: center;
}


table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 60%;
    max-width: 700px;
    margin: 20px auto; 
}


td {
    border: 6px solid black;
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.btn_valider {
    background-color: #000;
    color: #7cb2db;
    border: none;
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

.btn_valider:hover {
    background-color: #222;
}

.bien-place {
    background-color: #4caf50;
    color: black;
}
.mal-place  {
    background-color: #ffeb3b;
    color: black;
}
.absent     {
    background-color: #9e9e9e;
    color: white;
}

