/* CSS du site MemoDeck de la SAE3 */


/* S'assurer que le body et html n'ont pas de marges ni de padding */
html, body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    align-items: center;
}



/* STYLE POUR LE TEXTE POUR LE BODY DE N'IMPORTE QUELLE PAGE */
/* Style pour les titres */
h1.centre, h2.centre, h3.centre, p.centre {
    text-align: center;
}


/* Pour centrer le lien et lui donner une police plus grande */
a.centre {
    color: #f64b0c; /* Changer la couleur du lien au passage dessus */
    background-color: rgba(255, 255, 255, 0.5); /* background en blanc mais avec 50% d'opacité' */
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    transition: color 0.3s ease; /* Ajouter une transition pour lun changement de couleur quand la souris passe au dessus du lien*/
}



/* STYLE POUR LES DIV */
/* Pour aligner la carte avec la page */
.containerCarte, .containerReponse {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100vw;
    justify-content: center; 
    align-items: center;
    perspective: 1000px;    /* Pour effet 3D */
}

/*Pour alligner la zone de texte avec la carte*/
.containerReponse {
    display: flex;
    height: 20vh;
    width: 100vw;
    justify-content: center; 
    align-items: center;
}

.carte {
    height: 90%;
    width: 40%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}


.carteAvant, .carteArriere {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;    /* Cache la face non visible */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}


/* Carte : Face avant */
.carteAvant {
    background-color: #1f6545;
}

/* Carte : Face arrière */
.carteArriere {  
    background-color: #f97600;
    transform: rotateY(180deg); /* Face arrière tournée */
}


/* Pour retourner la carte */
.carte.is-flipped {
    transform: rotateY(180deg);
}


/* Pour mettre a la ligne la zone de texte parce que les <br> ne marche pas */
.containerReponse input, .containerReponse button, .containerReponse #message{
    display: block;     /* Forcer à être des blocs */
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Pour l'esthetique*/
.containerReponse input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.containerReponse button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f64b0c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.containerReponse button:hover {
    background-color: #d43f08;
}


.containerPersonalisation {
    /*display: flex;
    flex-direction: column;*/
    height: 5vh;
    width: 100vw;
    justify-content: center; 
    align-items: center;
}